<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ShoutBox</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/jquery.rateyo.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'events/css/jquery.mmenu.all.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'events/inner-page-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">
</head>
<body style="background-image: url('/static/home/img/11.jpg');background-repeat: no-repeat;background-attachment: fixed; background-size: 100% 100%;">
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@travelguide.com" itemprop="email"><i class="fas fa-envelope"></i> info@travelguide.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+8801690061462" itemprop="telephone"><i class="fas fa-phone"></i> +8801690061462</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							{% if user.is_authenticated %}
							<a href="/">
								{{ user.first_name }}
							</a>
							<a><form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">log out</button>
                            </form>
                            </a>
							{% else %}
							<a href="/accounts/login">Login
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap">
						<img src="{% static 'events/images/site-logo.png' %}" alt="Logo Image">
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="/">Home</a></li>
								<li class="menu-parent">Events
									<ul class="sub-menu">
										<li><a href="/events/">Popular</a></li>
									</ul>
								</li>
								<li class="menu-parent">Services
									<ul class="sub-menu">
										<li><a href="{% url 'main:hotel_page' %}">Hotels & Resorts</a></li>
										<li><a href="{% url 'main:reservation_new' %}">Take Hotel Reservation</a></li>
									</ul>
								</li>
								<li class="menu-parent">Social Network
									<ul class="sub-menu">
                                        <li><a href="{% url 'main:usersearch' %}">Search people</a></li>
										<li><a href="{% url 'main:direct_message' %}">Message Someone</a></li>
										<li><a href="{% url 'main:chat_forum' %}">ShoutBox</a></li>
									</ul>
								</li>
								<li><a href="{% url 'main:about' %}">About</a></li>
								<li><a href="">Gallery</a></li>
								<li><a href="{% url 'main:contact' %}">Contact</a></li>

							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<!--<div class="banner">
			<div class="owl-four owl-carousel">
				<img src="{% static 'events/images/page-banner.png' %}" alt="Image of Bannner">
				<img src="{% static 'events/images/page-banner2.png' %}" alt="Image of Bannner">
				<img src="{% static 'events/images/page-banner3.png' %}" alt="Image of Bannner">
			</div>
			<div class="container">
				<h1>welcome to education pro</h1>
				<h3>With our advance search feature you can now find the trips for you...</h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>-->
		<!-- <div class="banner">
			<div class="owl-five owl-carousel owl-theme">
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
          </div>
		</div> -->
		<!-- Banner Close -->

		<section class="course-listing-page">
			<div class="container">

                  <a href="../"><img src="/static/home/img/back.png" height="30px" width="30px"></a>
                      <div class="s005">

                        <form method="POST" action="/searcheduser/">
                          {% csrf_token %}
                          <fieldset>
                            <legend><h1>WHOM ARE YOU LOOKING FOR?</h1></legend>
                            <div class="inner-form">
                              <div class="input-field">
                                <input class="form-control" name="user-search" id="choices-text-preset-values" type="text" placeholder=" Search   an  User" />
                                <button class="btn-search" type="submit">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                  </svg>
                                </button>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                      <style>
                  input[type=text] {
                    width: 130px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                    font-size: 16px;
                    background-color: white;
                    background-image: url('searchicon.png');
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    padding: 12px 20px 12px 40px;
                    -webkit-transition: width 0.4s ease-in-out;
                    transition: width 0.4s ease-in-out;
                  }

                  input[type=text]:focus {
                    width: 100%;
                  }
                  </style>
			</div>
		</section>

		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us any questions at<a href="tel:+8801690061462"><i class="fas fa-phone"></i> +8801690061462</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>Travel Guide is an expert travel helper agency who organizes and manages your travels in a way never happened before. Travelling with us will find you new experience, friends and peace that lasts forever.</p>

						<h4><a href="tel:+8801690061462"><i class="fas fa-phone"></i> +8801690061462</a></h4>
						<h4><a href="mailto:info@travelguide.com"><i class="fas fa-envelope"></i> info@travelguide.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Bonosree, Dhaka, Bangladesh</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="#">Guides</a></li>
							<li><a href="#">Bloggers</a></li>
							<li><a href="#">Places</a></li>
							<li><a href="#">Services</a></li>
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>recent events</h1>
						</header>
						<div class="recent-course-wrap">
							<img src="{% static 'main/images/ui-ux.jpg' %}" alt="sundarbans-mangrove">
							<a href=""><div class="course-name">
								<h3>Explore Sundarbans</h3>
								<p><span>12000 BDT</span> 9999 BDT</p>
							</div></a>
						</div>
						<div class="recent-course-wrap">
							<img src="{% static 'main/images/ui-ux.jpg' %}" alt="Cox's-Bazar">
							<a href=""><div class="course-name">
								<h3>Weekend in Cox's Bazar</h3>
								<p><span>9000 BDT</span> 7000 BDT</p>
							</div></a>
						</div>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2023 &copy; travelguide.com <span> | </span> We believe in luxury with efficiency</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>